@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Gabarito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Evita que se produzca scroll en el body */
}
